---
---

<footer class="w-full chalk flex flex-wrap justify-between py-2 px-4 gap-4 bg-charcoal text-xs items-center">
    <p>&copy; Copyright 2025 Brandan's Contracting</p>
    <div class="flex gap-2 items-center"><span>Follow:</span><a href="https://www.instagram.com/brandans_contracting/"><img src="/images/instagram.svg" alt="Instagram" width="24" height="24" loading="lazy"/></a></div>
</footer>