---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
const { title } = Astro.props;
---
<!doctype html>
<html lang="en" class="scroll-smooth min-h-screen">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Professional contracting services in Hamilton, Ancaster, Burlington, Oakville, and more."/>
		<title>{title}</title>
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Brandan's Contracting" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	</head>
	<body class="flex flex-col min-h-screen">
		<Header/>
		<div class="py-4 pt-28 md:pt-20 container mt-0 m-auto">
			<slot name="breadcrumb"/>
			<slot name="title"/>
			<slot name="main"/>
		</div>	
		<Footer/>
		<script>
			import scrollAnimate from "../scripts/scroll-animate.js";
			scrollAnimate();
		</script>
	</body>
</html>